/* Edit this Css File 

/* .navbar-brand{
    color: red;
   
}

.ul{
    display: inline-block;
} */

/* #navigation {
    background:#5a07e0;
    color:#0f0f0f;
    padding:15px 100px;
    overflow:auto;
} */

body{
    background-color: rgb(232, 243, 242);
 }

 .masthead {
    
    min-height: 200px;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
   
  }

#header-image{
    border-radius: 30px;
    padding-top: 5px;
 
}

#bottom-nav{
    float: right;
}








/* .carousel-inner > .item {
    max-width: 20vw;
    max-height: 40vh;
    align-content: center;
    
    
 }

 .carousel-inner img{
    max-width: 20vw;
    max-height: 40vh;
    border-radius: 35px;
 }

 .carousel-inner .h5{
    color: black;
 }

 #menu-options{
    padding: 15px;
    border-top: 20px;
 } */

 #login{
    padding-right: 10px;
 }

 #basket-image{
    border-radius: 35px;
    padding: 10px;
    max-width: 10px;
    max-height: 75px;
 }

.basket{
   padding-left: 10px;
}

.food-image{
   max-width:75px;
   max-height:75px;
}

.menu-product{

   box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
   background-color: rgb(0, 255, 42);
   border-radius: 5px;
   padding: 10px;
   
   
}

/* .menu-product{
   padding-top: 25px;
} */

#social{
   display: inline;
   font-size: large;

}