{% extends 'restaurant/base.html' %}
{% load static %}
{% load cloudinary %}

{% block title %}
    {{ option.name }}
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-12 ">
                <h1>{% if category %}{{ category.name }}{% else %}Menu Options{% endif %}</h1>
                {% for option in options %}
                <div class="image-container">
                    {% if "placeholder" in option.image.url %}
                    <img class="card-img-top" src="{% static 'img/awaiting_image.png' %}"
                      alt="placeholder image">
                    {% else %}
                    <img class="card-img-top" src=" {{ option.image.url }}">
                    {% endif %}
                </div>
            </div>








                    
                {% endfor %}
                <form action="{% url 'basket:basket_add' option.id %}" method="post">
                    {{ basket_option_form }}
                    {% csrf_token %}
                    <input type="submit" value="Add to basket">
                </form>
                {{ option.description|linebreaks }}
            </div>
        </div>
    </div>
{% endblock %}
      
       
