<!-- <div class="item">
                        <a href ="{{ option.get_absolute_url }}">
                            <img src="{%if option.image %}{{ option.image.url }}{% else %}{% static 'img/awaiting_image.png' %}{% endif %}">
                        </a>
                        <a href="{{ option.get_absolute_url }}">{{ option.name }}</a>
                        <br>
                        <p>£{{ option.price}}</p>
                    </div>          -->
        

                    saved from details.html while I test fix