{% extends 'restaurant/base.html' %}
{% load static %}

{% block content %}
    <hr>
    
    <div class="row">
        {% for option in options %}
        <div class="col-lg-4 menu-image-holder">
            <img class="thumbnail" src="{% if option.image %}{{ option.image.url }}{% else %}{% static 'img/awaiting_image/png' %}{% endif %}">
            <div class="menu-product-detail">
                <h4><strong>{{ option.name }}</strong></h4>
                <hr>
                <button class="btn btn-outline-secondary mb-25">£{{ option.price }} Add to basket </button>
                <a class="btn btn-outline-secondary" href="{{ option.get_absolute_url }}">Details</a>
                <hr>
                
            </div>          
        </div>
        {% endfor %}
    </div>
{% endblock %}                                                                                                     b                                                                          