{% extends 'restaurant/base.html' %}
{% load static %}


{% block content %}
 
<div class="row">
  <div class="col-12">
    <h1>{% if category %}{{ category.name }}{% else %}Options
        {% endif%}
    </h1>
  </div>
</div>
<div class="row">
  
    {% for option in options %}
    <div class="col-6">
      <a href="{{ option.get_absolute_url }}">
        <img src="{% if option.image %}{{ option.image.url }}{% else %}{% 'placeholder' '%}{% endif %}">
      </a>
    
      {% if "placeholder" in option.image.url %}
      <!-- <img id="basket-image" src="{% static 'img/awaiting_image.png' %}"
        alt="placeholder image"> -->
  </div>
</div>
    
   
     <!-- <div class="col-4">
            <a href ="{{ option.get_absolute_url }}">{{ option.name }}</a>
            {% else %}
      </div>
    
    
      <div class="col-4">
            <img class="img-fluid food-image" id="basket-image" src=" {{ option.image.url }}">
            <a href ="{{ option.get_absolute_url }}">{{ option.name }}</a>
            <br>
      </div>
    

      <div class="col-12">
        £{{ option.price }}
      </div>        
   
  
          {% endif %}
 
    {% endfor %} -->
{% endblock %}