{% extends 'restaurant/base.html' %}
{% load static %}

{% block content %}
    <div class="container menu-product">
        <div class="row">
            <div class="col-lg-4">
                <img class="thumbnail" src="{% static 'img/awaiting_image.png' %}">
                <div id="menu-product">
                    <h6>This is a product</h6>
                    <hr>
                    <button class="btn btn-secondary">Add to basket</button>
                    <button class="btn btn-secondary">Details</button>
                </div>

            </div>

            <div class="col-lg-4">
                <img class="thumbnail" src="{% static 'img/awaiting_image.png' %}">
                <div id="menu-product">
                    <h6>This is a product</h6>
                    <hr>
                    <button class="btn btn-secondary">Add to basket</button>
                    <button class="btn btn-secondary">Details</button>
                </div>
                
            </div>

            <div class="col-lg-4">
                <img class="thumbnail" src="{% static 'img/awaiting_image.png' %}">
                <div id="menu-product">
                    <h6>This is a product</h6>
                    <hr>
                    <button class="btn btn-secondary">Add to basket</button>
                    <button class="btn btn-secondary">Details</button>
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}