{% extends 'restaurant/base.html' %}
{% load static %}


{% block content %}
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>{% if category %}{{ category.name }}{% else %}Options
            {% endif%}
        </h1>
        {% for option in options %}
        <div>
          <a href="{{ option.get_absolute_url }}">
            <img src="{% if option.option_image %}{{ option.option_image.url }}{% else %}{% static 'img/awaiting_image.png' %}{% endif %}">
          </a>
          <a href ="{{ option.get_absolute_url }}">{{ option.name }}</a>
          <br>
          £{{ option.price }}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}