{% extends 'restaurant/base.html' %}
{% load static %}


{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1>{% if category %}{{ category.name }}{% else %}Options
            {% endif%}
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col=xxl">
        <table>
          <thead>
            <tr>
              <th>Image</th>
              <th>Name</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            {% for option in options %}
              <td>{{ option.name }}</td>
              <td>{{ option.price }}</td>
              {% if "placeholder" in option.image.url %}
                <td>
                  <img id="basket-image" src="{% static 'img/awaiting_image.png' %}" alt="placeholder image">
                  <a href ="{{ option.get_absolute_url }}">{{ option.name }}</a>
                  <a href ="{{ option.get_absolute_url }}">{{ option.name }}</a>
                </td>
              {% else %}
                <td>
                  <img class="img-fluid food-image" id="basket-image" src=" {{ option.image.url }}">
                  <a href ="{{ option.get_absolute_url }}">{{ option.name }}</a>
                  <br>
                  £{{ option.price }}
                </td>
          </tbody>
        </table>
          <!-- {% for option in options %}
          
            {% if "placeholder" in option.image.url %}
            <img id="basket-image" src="{% static 'img/awaiting_image.png' %}"
              alt="placeholder image">
            <a href ="{{ option.get_absolute_url }}">{{ option.name }}</a>
            {% else %}
            <img class="img-fluid food-image" id="basket-image" src=" {{ option.image.url }}">
            <a href ="{{ option.get_absolute_url }}">{{ option.name }}</a>
            <br>
            £{{ option.price }} -->
      </div>
    </div>
          <!-- {% endif %} -->
</div>
          {% endfor %}
{% endblock %}